.header{
    position: relative;
    width:100%;
    height: 9vh;
    background-color: #cccccc;
  }
  
  .menu{
    /* padding: 1px; */
    position: relative;
    width:79.8vw;
    height: 7vh;
    color:#f9f9f9;
  }

  .btn-login{
    margin-left:55vw;
  }